* {
    margin: 0;
}

html {
    background: #fafafa;
}

body {
    overflow: hidden;
    padding: 48px 8vw;
    font-family: "Cabin", sans-serif;
    --color-primary: #5a9271;
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url(imgs/fina_prickar.svg);
    background-size: 500px;
    background-position: 0 -100vh;
    transition: 850ms;
    /* ワンツーワンツー　*/
    color: #121212;
}

body.remove-background {
    background-size: 1000px;
}

main {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f1f1f1, #e0e0e0);
    transform: scale(0.3);
    opacity: 1;
    overflow-y: auto;
    border-radius: 32px;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.08), 0 4px 40px rgba(0, 0, 0, 0.15);
}

main.displayed {
    transform: scale(1);
    opacity: 1;
    top: 0;
    border-radius: 0;
}

main.obscured {
    transform: scale(0.92);
    opacity: 0.8;
    border-radius: 12px;
}

main header {
    height: 142px;
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #56856a, #f2f2de);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #00000010;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #00000044;
    border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #00000066;
}

#content {
    z-index: 8;
    position: absolute;
    top: 122px;
    width: 100%;
    height: 120%;
    min-height: calc(100% - 122px);
    border-radius: 16px 16px 0 0;
    background: linear-gradient(90deg, #f1f1f1, #e0e0e0);
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.08), 0 4px 40px rgba(0, 0, 0, 0.15);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.center-content {
    text-align: center;
}

.divider {
    overflow: hidden;
    margin: 12px -16px;
    height: 1px;
    background: rgba(0, 0, 0, 0.14);
}

h1 {
    color: #3a3a3a;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 148px;
    margin: auto;
    height: fit-content;
    font-size: 64px;
    transform: scale(2);
    opacity: 0;
}

h1.scale-in {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
    opacity: 1;
}

h1.float-up {
    bottom: 486px;
    transition: 300ms cubic-bezier(0, 0, 0, 1);
}

.fade-out {
    transition: 350ms !important;
    opacity: 0 !important;
}

h2, h3, h4 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

h2 {
    padding: 16px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

label {
    display: block;
    font-size: 18px;
}

#app-logo {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 96px;
    margin-top: -50px;
    z-index: 50;
    opacity: 0;
    transform: scale(1.4);
    transition: 300ms cubic-bezier(0, 0, 0, 1);
}

#app-logo.scale-in {
    opacity: 1;
    transform: scale(1);
}

#app-logo.float-up {
    margin-top: -219px;
}

#auth-form-container {
    display: block;
    position: fixed;
    margin: auto;
    top: 50vh;
    width: 256px;
    height: 320px;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #fafafa;
    color: #404040;
    border-radius: 8px;
    padding: 12px 16px;
    transition: 300ms cubic-bezier(0, 0, 0, 1);
    /*box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);*/
    border: 3px solid #484848;
}

#auth-form-container.fade-in {
    opacity: 1;
    top: 0;
}

#auth-form-container a {
    color: var(--color-primary);
    margin-right: 2px;
    font-size: 14px;
    display: inline-block;
    text-decoration: underline;
}

#auth-form-container form:first-of-type {
    margin-bottom: 8px;
    transition: 350ms cubic-bezier(0.46, -0.64, 0.21, 1.11)
}

#auth-form-container.show-next {
    height: 362px;
    top: 42px;
}

#auth-form-container.show-next form:first-of-type {
    margin-top: -336px;
}

.button, .button-flat, .raised-button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
    -moz-user-select: -moz-none;
    text-align: center;
    font-weight: 700;
}

.button {
    background: var(--color-primary);
    border: 2px solid #484848;
    color: #fafafa;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: #56856a;
    -moz-tap-highlight-color: #56856a;
    -webkit-appearance: none;
    outline: 0;
    padding: 0 24px;
    height: 32px;
    line-height: 32px;
}

.button-flat {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.12);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0.12);
    color: var(--color-primary);
    -webkit-appearance: none;
}

.button:active {
    background-color: #56856a;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button:focus {
    background-color: #56856a;
}

.button-flat:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.button-flat:active {
    background-color: rgba(0, 0, 0, 0.14);
}

#snackbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    width: calc(100% - 16px);
    max-width: 700px;
    z-index: 40;
    text-align: center;
}

.snackbar-content {
    display: inline-block;
    text-align: left;
    background-color: #fafafa;
    color: #323232;
    border: 3px solid #323232;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    min-height: 36px;
    border-radius: 4px;
    pointer-events: all;
    box-sizing: border-box;
    padding: 12px 16px;
}

.snackbar {
    display: block;
    width: 100%;
    margin: 8px 0;
    margin-bottom: -44px;
    pointer-events: none;
    transition: margin-bottom 225ms cubic-bezier(0.4, 0.0, 1, 1), color 150ms 75ms;
    text-align: center;
    color: rgba(256, 256, 256, 1);
}

.snackbar.slideUp {
    transition: margin-bottom 200ms cubic-bezier(0.0, 0.0, 0.2, 1), color 150ms 75ms;
    margin-bottom: 8px;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ink-splash {
    position: absolute;
    background-color: #000;
    width: 16px;
    height: 16px;
    opacity: 0.16;
    z-index: 4;
    border-radius: 50%;
}

.title-logo {
    height: 40px;
    float: left;
    margin-left: 16px;
    margin-right: 6px;
    margin-top: 14px;
}

.title {
    color: #323232;
    font-weight: 700;
    font-size: 36px;
    margin: 0 16px -4px 16px;
    text-shadow: -2px -2px 2px #e0e6d130, 2px 2px 2px #6d957b80;
    padding-top: 12px;
}

.my-profile-pic {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    z-index: 10;
    border-radius: 50%;
    background-image: url(/imgs/はかせ.png);
    background-size: cover;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-profile-pic:active {
    transition: 400ms cubic-bezier(0.16, 0.44, 0.32, 0.87);
    transform: scale(0.90);
}

.my-profile-pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: #48484800;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-profile-pic:active::after {
    transform: scale(2);
    transition: 300ms cubic-bezier(0.16, 0.44, 0.32, 0.87);
    background: #48484820;
}

header .search-bar input {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .12), 0 4px 5px 0 rgba(0, 0, 0, .08), 0 1px 10px 0 rgba(0, 0, 0, .06);
}

.search-bar {
    margin: 10px 16px;
    width: calc(100% - 32px);
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 6px 8px 6px 30px;
    margin: 4px 0;
    border: none;
    outline: none;
    color: #484848;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 6px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-bar input::placeholder {
    color: #888;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-bar .magnifying-glass {
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-bar .magnifying-glass path {
    transition: 200ms;
}

.search-bar input:focus {
    display: inline-block;
    color: #595959;
    padding-left: 36px;
}

.search-bar .cancel {
    position: absolute;
    right: -4px;
    top: 0;
    height: 100%;
    padding: 0 12px;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.4);
    transition: 350ms cubic-bezier(0.3, 1.1, 0.7, 1);
}

.search-bar .cancel svg {
    margin: 10px 0;
}

.search-bar input:focus~.cancel {
    opacity: 1;
    transform: scale(0.7);
    cursor: pointer;
}

.search-bar input:focus+.magnifying-glass {
    transform: scale(0.70);
    left: 7px;
}

.search-bar input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}

.subtitle {
    color: #577a66;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 10px 0 0px 17px;
}

.contact-container {
    position: relative;
    width: calc(100% - 32px);
    margin: 10px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    clear: both;
    background: #fefefe;
    transition: 250ms;
}

.contact-container:hover {
    background: rgba(0, 0, 0, 0.06);
}

.contact-container.disabled {
    transform: scale(0.9);
    margin: 0;
    opacity: 0;
    height: 0;
}

.contact {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: fit-content;
    transition: 200ms;
    cursor: pointer;
    color: #525252;
    border-radius: 12px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .08), 0 1px 5px 0 rgba(0, 0, 0, .06);
}

.contact img {
    float: left;
    margin: 8px 8px 8px 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.8) rotateX(180deg);
}

.contact-container.selected .checkmark {
    opacity: 1;
    transform: scale(1);
}

.contact-container.selected img:not(.checkmark) {
    opacity: 0;
    transform: scale(0.8) rotateX(180deg);
}

.contact .profile-name {
    margin-top: 7px;
    font-size: 18px;
    font-weight: 500;
}

.contact .profile-name, .contact .last-message {
    margin-left: 60px;
    padding-right: 56px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-container .dots {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    padding: 8px;
    right: 8px;
    margin: auto;
    opacity: 0;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.6);
    z-index: 20;
}

.contact-container:hover .dots {
    opacity: 1;
    transform: scale(0.8);
}

.contact-container .dots:hover {
    opacity: 1;
    transform: scale(1);
    background: #48484820;
    cursor: pointer;
}

.contact-container .dots:active {
    background: #48484830;
}

.contact-container .divider {
    margin: 0;
    width: calc(100% - 48px);
    margin-left: 64px;
}

.contact-container:last-of-type .divider {
    height: 0;
}

#action-center {
    padding: 8px;
    display: flex;
}

.action {
    position: relative;
    display: flex;
    align-items: normal;
    justify-items: center;
    flex: 1;
    height: 56px;
    padding: 8px;
    border-radius: 12px;
    background: #fefefe;
    margin: 8px;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .08), 0 1px 5px 0 rgba(0, 0, 0, .06);
}

.action>* {
    transition: 300ms;
}

.action .action-icon {
    flex: 1;
    width: 32px;
    height: 32px;
}

.action .action-icon * {
    transition: 300ms;
}

.action:hover .action-icon * {
    stroke: #5a9271 !important;
}

.action:hover {
    color: #5a9271;
}

.action:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .12), 0 8px 10px 1px rgba(0, 0, 0, .08), 0 3px 14px 2px rgba(0, 0, 0, .06);
}

.action .action-name {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    width: fit-content;
    text-align: center;
    margin: auto;
    transition: none;
}

.bottom-sheet {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 16px 16px 16px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #f1f1f1, #e0e0e0);
    opacity: 0.9;
    backdrop-filter: blur(2px);
    color: #484848;
    z-index: 8;
    transition: 300ms cubic-bezier(0.08, 0.3, 0.15, 1);
}

.bottom-sheet .button-flat {
    position: absolute;
    top: 8px;
    right: 16px;
}

.expansion-container {
    width: 100%;
    height: 8px;
    padding: 22px 0 20px 0;
    margin-bottom: -16px;
    z-index: 6;
    display: flex;
    justify-content: center;
}

.expansion-bar {
    display: inline-block;
    width: 32px;
    height: 6px;
    border-radius: 0 3px 3px 0;
    background: #bebebe;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.expansion-bar:first-of-type {
    border-radius: 3px 0 0 3px;
}

.expansion-container.arrow .expansion-bar {
    transform: rotate(-25deg);
    border-radius: 3px;
}

.expansion-container.arrow .expansion-bar:first-of-type {
    transform: rotate(25deg);
    margin-right: -8px;
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 300ms;
}

.shade.displayed {
    background: rgba(0, 0, 0, 0.1);
}

.menu {
    position: fixed;
    top: 4px;
    right: 4px;
    box-sizing: border-box;
    max-height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    background: #fafafa;
    color: #484848;
    opacity: 0;
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.08), 0 4px 40px rgba(0, 0, 0, 0.15);
    z-index: 9;
    transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1), right 300ms cubic-bezier(0.4, 0, 0.2, 1), width 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), max-height 200ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.displayed {
    top: 8px;
    right: 8px;
    width: 168px;
    padding: 48px 0 12px 0;
    max-height: 256px;
    opacity: 1;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .menu-option {
    display: block;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 12px;
    font-size: 18px;
    cursor: pointer;
    margin-top: -12px;
    opacity: 0;
    transition: 200ms cubic-bezier(0.15, 0.68, 0.48, 0.93);
}

.menu .menu-option.displayed {
    margin-top: 0;
    opacity: 1;
}

.menu .menu-option:hover {
    background: #e5e5e5;
    color: #121212;
}

#cookie-banner {
    position: fixed;
    bottom: -163px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    padding: 16px 8px 8px 8px;
    text-align: center;
    border: 3px solid #484848;
    border-radius: 6px;
    background: #fafafa;
    z-index: 1338;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#cookie-banner.displayed {
    bottom: -3px;
}

.red-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(212, 140, 140);
    box-shadow: 0 0 3px rgb(212, 140, 140);
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 256px;
    border-radius: 8px;
    max-width: 95vw;
    font-size: 18px;
    background: #fafafaaa;
    backdrop-filter: blur(4px);
    opacity: 0;
    height: fit-content;
    padding: 16px 16px 8px 16px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    transform: scale(0.85);
    transition: 160ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog-shade {
    background: #00000000;
    z-index: 1337;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 280ms;
}

.dialog-shade.displayed {
    background: #635e5e40;
}

.dialog-shade.displayed .dialog {
    transition: 220ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transform: scale(1);
}

.dialog .button, .dialog .button-flat {
    float: right;
}

.big-window {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    box-shadow: 0 3px 30px 3px rgba(0, 0, 0, 0.08), 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    opacity: 0;
    transform: scale(0.9);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.big-window.displayed {
    border-radius: 0;
    top: 0;
    opacity: 1;
    transform: scale(1);
}

.big-window .close-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    padding: 16px;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.9);
    z-index: 10;
}

.big-window .close-button:active {
    transform: scale(0.7);
}

.big-window header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    font-size: 24px;
    line-height: 56px;
    padding-left: 56px;
    color: #212121;
    box-sizing: border-box;
    text-shadow: -2px -2px 2px #e0e6d130, 2px 2px 2px #6d957b80;
    background: linear-gradient(45deg, #56856a, #f2f2de);
}

.big-window #message-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 64px);
}

.big-window #send-button {
    position: absolute;
    bottom: 4px;
    right: 0;
    padding: 8px;
    cursor: pointer;
    transform: scale(0.8);
    transition: 200ms;
}

.big-window #send-button:hover {
    transform: scale(0.95);
}

.big-window #send-button:active {
    transform: scale(0.7);
}

@media screen and (max-width: 500px) {
    body {
        padding: 48px 16px;
    }
}

@media screen and (min-width: 600px) {
    main, .bottom-sheet {
        transform: scale(1) !important;
        min-width: 380px;
        width: 40%;
    }
    main {
        border-radius: 0 !important;
        top: 100vh;
        opacity: 1 !important;
        box-shadow: none;
    }
    .shade {
        display: none;
    }
}